.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: Poppins, DM Sans, sans-serif;
    font-size: medium;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.navigation {
    width: 98%;
    height: 150px;
    padding: 1%;
    background-color: #E4E5E5;
    color: black;
}

.nav ul {
    width: 50%;
    margin-left: auto;
}

.hero {
    padding: 25px;
    background-color: #55C0B9
}

.content {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-family: Poppins, DM Sans, sans-serif;
}

.footer {
    background-color: #E4E5E5;
    padding: 25px;
}